@font-face {
  font-family: "SUIT-Regular";
  src: url("/src/utils/font/SUIT-Regular.ttf") format(truetype);
}

@font-face {
  font-family: "SUIT-Bold";
  src: url("/src/utils/font/SUIT-Bold.ttf") format(truetype);
}

@font-face {
  font-family: "중니좋체";
  src: url("/src/utils/font/Liker.ttf") format(truetype);
}
